.container {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  // border: 1px solid white;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  .header-number {
    font-family: "Fira Code", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: var(--faded-golden);
    margin: 0;
    // border: 1px solid red;
  }

  .header-title {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: var(--cream);
    margin: 0 0 0 10px;
    white-space: nowrap;
    // border: 1px solid red;
  }

  .header-line {
    margin: 0 0 0 20px;
    height: 3px;
    width: 0%;
    background-color: var(--faded-golden);
    border-radius: 20px;
    transition: width 0.8s cubic-bezier(0.42, 0, 0.58, 1); /* Smoother cubic-bezier easing */
    animation: animateHeaderLine 1.2s forwards; /* Animation duration and fill mode */
    animation-delay: 0.5s; /* Delay animation start by 0.5 seconds */

    @keyframes animateHeaderLine {
      from {
        width: 1%; /* Start with no width */
      }
      to {
        width: 100%; /* Expand to full width */
      }
    }
  }
}

.content {
  // border: 1px solid yellowgreen;
  display: flex;
  flex-direction: row;
  margin-top: 2rem;

  .text {
    width: 70%;
    // border: 1px solid yellowgreen;

    p {
      font-family: "Nunito", sans-serif;
      font-size: 1.3rem;
      font-weight: 400;
      color: var(--gray-text);
      text-align: justify;
      margin: 20px 0 0 0;
    }

    .highlight {
      color: var(--faded-golden);
      // text-decoration: underline;
      font-weight: 700;
    }
  }

  .space {
    width: 5%;
    // border: 1px solid red;
  }

  .image {
    display: flex;
    width: 25%;
    // border: 1px solid yellowgreen;
    justify-content: center;
    align-items: center;

    .image-wrapper {
      // border: 1px solid red;
      width: 100%; /* Responsive width based on viewport width */
      max-width: 350px; /* Maximum size for larger screens */
      aspect-ratio: 1;
      border-radius: 50%;
      overflow: hidden;
      position: relative;

      img {
        width: 200%;
        height: 200%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-55%, -35%);
      }
    }
  }
}
