.container {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  .header-number {
    font-family: "Fira Code", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: var(--faded-golden);
    margin: 0;
    // border: 1px solid red;
  }

  .header-title {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: var(--cream);
    margin: 0 0 0 10px;
    white-space: nowrap;
    // border: 1px solid red;
  }

  .header-line {
    margin: 0 20px 0 0;
    height: 3px;
    width: 100%;
    background-color: var(--faded-golden);
    border-radius: 20px;
    transform: scaleX(0);
  }

  @keyframes expand {
    from {
      transform: scaleX(0);
      transform-origin: right;
    }
    to {
      transform: scaleX(1);
    }
  }

  .header-line.animation {
    animation: expand 1.2s forwards;
    animation-delay: 0.25s;
  }
}
