.container {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  .header-number {
    font-family: "Fira Code", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: var(--faded-golden);
    margin: 0;
    // border: 1px solid red;
  }

  .header-title {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: var(--cream);
    margin: 0 0 0 10px;
    white-space: nowrap;
    // border: 1px solid red;
  }

  .header-line {
    margin: 0 20px 0 0;
    height: 3px;
    width: 100%;
    background-color: var(--faded-golden);
    border-radius: 20px;
    transform: scaleX(0);
  }

  @keyframes expand {
    from {
      transform: scaleX(0);
      transform-origin: right;
    }
    to {
      transform: scaleX(1);
    }
  }

  .header-line.animation {
    animation: expand 1.2s forwards;
    animation-delay: 0.25s;
  }
}

.content {
  // border: 1px solid white;
  display: flex;
  flex-direction: row;
  margin-top: 2rem;

  .text_section {
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
    width: 40%;
    gap: 2.5rem;

    p {
      font-family: "Nunito", sans-serif;
      font-size: 1.7rem;
      font-weight: 400;
      color: var(--gray-text);
      text-align: justify;
    }

    .iconrow {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .icon {
        color: var(--dark-gray);
        font-size: 4rem;
        transition: color 0.3s ease;
        margin-right: 1.2rem;
        &:hover {
          color: var(--golden);
        }
      }
    }
  }

  .space_section {
    width: 10%;
    // border: 1px solid red;
  }

  .form_section {
    // border: 1px solid blue;
    width: 50%;
    display: flex;
    flex-direction: column;

    .form {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .field {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label {
          font-family: "Poppins", sans-serif;
          font-size: 1.5rem;
          font-weight: 200;
          color: var(--cream);
        }

        textarea {
          background-color: var(--form-field-dark-golden);
          border-radius: 10px;
          border: 2px solid var(--faded-golden);
          padding: 1rem;
          font-family: "Poppins", sans-serif;
          font-size: 1.2rem;
          color: var(--cream);
          outline: none;
          transition: border 0.3s ease;

          &:focus {
            border: 2px solid var(--golden);
          }
        }
      }

      button {
        background-color: var(--golden-half-a);
        border: none;
        border-radius: 10px;
        padding: 1rem;
        font-family: "Poppins", sans-serif;
        font-size: 1.5rem;
        color: var(--cream);
        transition: background-color 0.3s ease;

        &:hover {
          background-color: var(--dark-golden-half-a);
          cursor: pointer;
        }
      }
    }
  }
}
