// Navbar.module.scss

// colours
$hover-color: #d4a01c;

.navbar {
  display: flex;
  width: 100%;
  font-family: "Fira Code";
  justify-content: flex-end;
  align-items: center;
  //   border: 1px solid white;

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    // border: 1px solid red;
  }

  li {
    transition: transform 0.3s ease;

    &:hover {
      transform: translateX(-0.5rem); /* Move left on hover */
    }

    a {
      color: var(--cream);
      text-decoration: none;
      font-size: 1rem;
      white-space: nowrap;
      transition: color 0.3s ease;

      &:hover {
        color: $hover-color; /* Change text color on hover */
      }

      &::before {
        content: "{ "; /* Add opening bracket */
        opacity: 1; /* Fully visible */
        transition: opacity 0.3s ease; /* Smooth transition for opacity */
      }

      &::after {
        content: " }"; /* Add closing bracket */
        opacity: 1; /* Fully visible */
        transition: opacity 0.3s ease; /* Smooth transition for opacity */
      }

      &:hover:before,
      &:hover:after {
        opacity: 0; /* Fade out brackets on hover */
      }
    }
  }
}

.btn {
  background-color: var(--golden);
  color: var(--cream);
  margin-left: 1.5rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    transform: scale(1.05); /* Slightly enlarge the button */
  }
}
