.container {
  display: flex;
  height: 20rem;
  margin: 5rem 0 0 0;
  // border: 1px solid white;
}

.textside {
  display: flex;
  flex-direction: column;
  width: 40%;
  &.right {
    align-items: end;
  }

  span {
    font-family: "Fira Code", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--faded-golden);
    margin: 0;
  }

  h3 {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: var(--cream);
    margin: 0;
  }

  .description_box {
    // border: 1px solid green;
    width: 100%;
    height: 40%;
    background-color: var(--dark-golden-half-a);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-top: 0.5rem;
    box-shadow: 0 4px 4px 1px rgba(165, 122, 27, 0.5);
    z-index: 10;
    p {
      font-family: "Nunito", sans-serif;
      font-size: 1.3rem;
      font-weight: 400;
      color: var(--cream);
      margin: 0;
      line-height: 170%;
    }
  }

  .info_row {
    // border: 1px solid red;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;

    .links {
      display: flex;
      flex-direction: row;

      .icon {
        color: var(--dark-gray);
        font-size: 2.2rem;
        transition: color 0.3s ease;
        margin-right: 1.2rem;
        &:hover {
          color: var(--cream);
        }
      }
    }

    .tech {
      display: flex;
      flex-direction: row;
      align-items: center;

      // temporary measure to fix the overflow issue
      flex-wrap: wrap;
      &.right {
        justify-content: end;
        margin-left: 1rem;
      }

      span {
        margin-right: 2rem;
        font-family: "Nunito", sans-serif;
        font-size: 1.4rem;
        color: var(--dark-gray);
        transition: color 0.3s ease;

        &:hover {
          color: var(--cream);
        }
      }
    }
  }
}

.imageside {
  width: 60%;

  &.right {
    text-align: end;
  }

  .image {
    width: auto;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    filter: brightness(0.5);
    transition: filter 0.3s ease;

    &:hover {
      filter: brightness(1);
    }
  }
}
